<ion-view view-title="Finder">
  <ion-content>
  <div class="list list-inset">
  <!-- <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label> -->
</div>
  <div class="row">
  	<div class="col col-100">
  		<h4 class="title"> What do you need ?</h4>
  	</div>
  </div>

  <div class="row">
      <div class="col col-50">
          <a href="#/app/samplecategory"><img src="../img/categ/painting.png" height="135" width="135"> </a> <p align="center">Cat</p>
      </div>
      <div class="col col-50">
          <a href=""><img src="../img/categ/plumbing.png" height="135" width="135"> </a> <p align="center">Ledeng</p>
      </div>
  </div>
  <div class="row">
      <div class="col col-50">
          <a href=""><img src="../img/categ/electrical.png" height="135" width="135"> </a> <p align="center">Listrik</p>
      </div>
      <div class="col col-50">
          <a href=""><img src="../img/categ/trending.png" height="135" width="135"> </a> <p align="center">Konstruksi</p>
      </div>
  </div>
<div class="row">
      <div class="col col-50">
          <a href=""><img src="../img/categ/handyman.png" height="135" width="135"> </a> <p align="center">Montir</p>
      </div>
  </div>
  </ion-content>
 <div class="bar bar-footer bar-balanced">
  <div class="title">TukangXpress<sup>&reg;</sup></div>
    </div>
</ion-view>