 <ion-view view-title="Post">
 <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Category</span>
          <select>
            <option>Ledeng</option>
            <option>Konstruksi</option>
            <option>Listrik</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Details</span>
          <input type="text">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">POST</button>
        </label>
      </div>
    </form>
  </ion-content>
   <div class="bar bar-footer bar-balanced">
  <div class="title">TukangXpress<sup>&reg;</sup></div>
    </div>
  </ion-view>