<ion-view view-title="Cat">
  <ion-content>
<h1>Cat service nearby..</h1>
<div class="row">
	<div class="col col-75">
		<div class="biz">
			<h3>T0k0 C4t</h3>
			<hr/>
			<p>Reviews:
				<span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked>
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
      <p><a href="#">Call</a> | <a href="#">Left a review</a></p>
			<hr/>
		</div>
	</div>
</div>

<div class="row">
	<div class="col col-75">
		<div class="biz">
			<h3>Syahrul Cat</h3>
			<hr/>
			<p>Reviews:
				<span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked>
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
			 </p>
			  <p><a href="#">Call</a> | <a href="#">Left a review</a></p>
			<hr/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-75">
		<div class="biz">
			<h3>Toko cat asik</h3>
			<hr/>
			<p>Reviews:
				<span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked>
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
			 </p>
			  <p><a href="#">Call</a> | <a href="#">Left a review</a></p>
			<hr/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-75">
		<div class="biz">
			<h3>Nice and easy</h3>
			<hr/>
			<p>Reviews:
				<span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked>
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
			 </p>
			  <p><a href="#">Call</a> | <a href="#">Left a review</a></p>
			<hr/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-75">
		<div class="biz">
			<h3>Cat murah aja</h3>
			<hr/>
			<p>Reviews:
				<span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked>
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
			 </p>
			  <p><a href="#">Call</a> | <a href="#">Left a review</a></p>
			<hr/>
		</div>
	</div>
</div>
  </ion-content>
</ion-view>
