

<ion-view view-title="Sign in">
  <ion-content>

<form >
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" href="#/app" >Sign in</button>
        </label>
      </div>
    </form>


  </ion-content>
 <div class="bar bar-footer bar-balanced">
  <div class="title">TukangXpress<sup>&reg;</sup></div>
    </div>
</ion-view>